* {
    margin: 0;
    padding: 0;
  }
  .card h3 {
    font-size: 20px;
    text-align: center;
  }
  .card h6 {
    font-size: 15px;
    text-align: center;
  }
  .card p {
    font-size: 20px;
    text-align: center;
  }
  .card img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    text-align: center;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
  }
  .card img:hover {
    transform: scale(1.1);
  }
  div.btn {
    display: flex;
    justify-content: center;
  }
  div.btn a {
    text-decoration: none;
    color: white;
  }
  .cart-item {
    border: 1px solid #ddd;
    /* padding: 10px; */
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .cart-item img {
    max-width: 100px;
  }
  .cart_box img {
    width: 100px;
    height: 0 auto;
  }
  .cart_img {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
  }
  .cart_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 20px; */
    padding: 10px;
    /* padding-bottom: 5px; */
    margin-bottom: 5px;
    border: 1px solid black;

  }
  
  .cart_box div:nth-child(2) button {
    padding: 5px 10px;
    font-weight: bold;
    /* margin-right: 5px; */
    border: none;
  }
  
  .cart_box div:nth-child(3) button {
    padding: 5px 10px;
    font-weight: bold;
    border: none;
    outline: none;
    color: white;
    background-color: skyblue;
  }
  .cart_box div:nth-child(3) button:hover {
    background-color: red;
  }
  .cart_box div:nth-child(3) span {
    background-color: lightgreen;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
  }
  .cart_img p {
    font-weight: bold;
    margin-left: 10px;
    padding-top: 20px;
  }
  .buttongroup1,.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .buttons span{
    font-weight: bold;
  }
  .morebuttons2{
    width: 300px;
    margin-bottom: 10px;
    height: 50%;
  }
  .morebuttons1{
    height: 75px;
    max-width: 300px;
    padding-top: 0;
  }
  #removecartbutton {
    transition: background-color 0.3s, color 0.3s; 
  }
  
  #removecartbutton:hover {
    background-color: white; 
    color: red; 
  }
  
  #removecartbutton:hover .bi-trash {
    fill: red;
  }
  